$light-border-color: #f2f2f2;
$primary-color: #4D407A;
$font-color: #3f3f44;

body {
  color: $font-color;
  font-family: 'Open Sans', 'Arial', sans-serif;
  form label {
    font-family: 'Arial';
    color: $primary-color;
    font-weight: normal;
  }
  .main-section {
    margin: 20px 0;
  }
}

.form-control {
  border-color: $light-border-color;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.sec {
  font-family: 'Arial';
  min-height: 200px;
  .section-title {
    padding-left: 20px;
  }
}

.delete-page {
  border-top: 1px solid $light-border-color;
  padding: 20px 0;
  text-align: center;
}

.top-nav {
  border-bottom: 1px solid $light-border-color;
  .pages-header {
    padding: 15px 0;
    .nav-title {
      text-align: center;
      display: inline-block;
      line-height: 30px;
      width: calc(100% - 100px);
    }
    .action-buttons {
      float: right;
      a.add-page {
        top: 5px;
        position: relative;
      }
    }
  }
}

.text-light {
  color: #e2e2e2;
}

.icon {
  background: url('/images/sprite.png') no-repeat;
  background-size: 424px 417px;
  display: inline-block;
  &.icon-add-btn {
    background-position: -400px -292px;
    width: 16px;
    height: 16px;
  }
  &.icon-page {
    background-position: -368px -126px;
    width: 28px;
    height: 30px;
  }
  &.icon-back {
    background-position: -354px -202px;
    width: 12px;
    height: 14px;
  }
  &.icon-settings {
    background-position: -368px -335px;
    width: 24px;
    height: 24px;
  }
}

ul.pages li.page {
  border-bottom: 1px solid #f2f2f2;
  padding-left: 10px;
  a {
    display: block;
    color: #3F3F44;
    padding-top: 10px;
    padding-bottom: 8px;
    span.icon {
      position: relative;
      display: inline-block;
      margin-right: 10px;
    }
    span.page-name {
      position: relative;
      top: -8px;
    }
    &:hover {
      text-decoration: none;
    }
  }
  &:hover {
    background-color: #f1f1f9;
  }
}

input.item-content {
  box-shadow: none;
  border: none;
  padding: 6px 10px;
  &:hover {
    box-shadow: none;
    background: #f2f2f2;
  }
  &:focus {
    box-shadow: none;
    background: cornsilk;
  }
}

ul.items {
  li {
    position: relative;
    &.section-item {
      padding-left: 20px;
      &:hover span {
        display: inline-block;
      }
      span {
        position: absolute;
        top: 3px;
        left: 0px;
        display: none;
        cursor: pointer;
      }
    }
    &.add-item {
      padding-left: 20px;
      span {
        position: absolute;
        top: 10px;
        left: 0px;
      }
    }
  }
}
